@page
@model CP.UI.XmlTypesModel
@{
    ViewData["Title"] = "XmlTypes";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>XmlTypes</h1>
<div class="container">
    <p><a href="/Config/AddXmlType" class="btn btn-outline-primary">Add Xml Type</a></p>
</div>
<div class="container-fluid">
    <table class="table table-info">
        <thead>
            <tr>
                <th>Test Name</th>
                <th>Test Name 2</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    Note 0
                </td>
                <td>
                    Note 2
                </td>
            </tr>
            <tr>
                <td>
                    Note 1
                </td>
                <td>
                    Note 3
                </td>
            </tr>
        </tbody>
    </table>

</div>

